@font-face {
    font-family: 'Raleway-Regular';
    src: url('/sources/typo/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('/sources/typo/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('/sources/typo/Raleway-Bold.ttf');
}

.regular{
    font-family: 'Raleway-Regular';
}

.semiBold{
    font-family: 'Raleway-SemiBold';
}

.bold{
    font-family: 'Raleway-Bold';
}

.fonSize1_1em{
    font-size: 1.1em;
}

.fontSize1_3em{
    font-size: 1.3em;
}

.bcBlue{
    background-color: #0065FC;
}

.bcLightBlue{
    background-color: #DEEBFF;;
}

.bcLightGray{
    background-color: #F2F2F2;
}

.colBlue{
    color: #0065FC;
}

.colLightBlue{
    color: #DEEBFF;
}

.colLightGray{
    color: #F2F2F2;
}

.colBlack{
    color: black;
}

.colWhite{
    color: white;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
}

body,
header,
header nav,
header nav ul,
form,
aside form .button,
aside nav ul,
aside nav ul li,
aside nav ul li a,
aside nav ul li a .round
{
    display: flex;
}

body{
    flex-direction: column;
    padding: 0px 26px 0px 26px;
}

header{
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#logo{
    width: 94px;
    height: 29px;
    margin: 50px 0px 48px 55px;
}

header nav{
    height: 100%;
    margin-bottom: 60px;
    font-size: 1em;
}

header nav ul li{
    margin: 0px 4px 0px 4px;
}

header .line, .lineHidden{
    height: 2px;
    margin: 0px 0px 46px 0px;
}

header nav ul li a{
    padding: 10px 28px 10px 28px;
}

main{
    height: 500px;
    padding: 0px 0px 0px 56px;
}

aside h1{
    word-spacing: 3.6px;
}

aside p{
    line-height: 36px;
}

aside form{
    width: 418px;
    margin: 11px 0px 0px 0px;
    border-radius: 16px;
    align-items: center;
}

aside form .pictogram{
    height: 19px;
    width: 21px;
    margin: 0px 16px 0px 13px;
}

aside form #field{
    height: 51px;
    width: 234px;
    border: 2px solid #F2F2F2;
}

aside form .button{
    height: 51px;
    width: 134px;
    border-radius: 0px 16px 16px 0px;
    justify-content: center;
    align-items: center;
}

aside nav{
    margin: 30px 0px 0px 0px;
}

aside nav ul{
    height: 100%;
    flex-wrap: wrap;
}

aside nav ul li{
    margin: 0px 21px 0px 7px;
    height: 50px;
}

aside nav ul li .border{
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-right: 2px solid #F2F2F2;
}

aside nav ul li a, aside nav ul li a .round{
    border-radius: 50px;
    height: 50px;
}

aside nav ul li a{
    font-size: 1.1em;
    align-items: center;
}

aside nav ul li a .round{
    width: 50px;
    justify-content: center;
    align-items: center;
    margin: 0px 10px 0px 0px;
    border: 2px solid #DEEBFF;
}

aside nav ul li a .round .image{
    width: 18px;
    height: 18px;
}

aside nav ul li a .txtButon{
    margin-right: 24px;
}

aside .boxInfo{
    display: flex;
    margin-top: 25px;
    font-size: 1.1em;

}

aside .pictoInfo {
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 0px; 
}

footer{
    height: 500px
}

.plan
{
    position: absolute;
    opacity: 0.2;
    width: 100%;
    top: 0;
}

#article1_2{
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
}

#article1{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

h2{
    margin: 15px 0px 20px 0px;
}

section{
    box-shadow: 0px 5px 20px  #c7c8ca;
}

#section1{
    display: flex;
    flex-wrap: wrap;
}

#article1{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 10px;
}

#article1 section{
    width: 246px;
    height: 200px;
    margin: 0px 30px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.imageLodging{
    width: 236px;
    height: 114px;
    border-radius: 17px 17px 0px 0px;
    margin-top: 5px;
}

#article1 .boxTxt{
    width: 100%;
    height: 100%;
    margin: 10px 0px 0px 40px;
}

h3{
    font-family: 'Raleway-Bold';
    font-size: 1em;
    line-height: 22px;
}

p{
    font-family: 'Raleway-Regular';
    font-size: 0.9em;
}

span{
    font-family: 'Raleway-Bold';
}

.etoileBleu, .etoileGrise{
    width: 10px;
    margin-top: 9px;
}

#afficherPlus{
    font-size: 1.1em;
    margin: 10px 0px 40px 7px;
}

#article2{
    margin-left: 38px;
    padding: 10px 30px 0px 30px;
    background-color: #F2F2F2;
    border-radius: 20px;
}

.boxTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pictoChart{
    width: 24px;
    height: 18px;
}

#article2 section{
    width: 343px;
    height: 145px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.imageLodgingPopular{
    width: 127px;
    height: 134px;
    border-radius: 17px 0px 0px 17px;
    margin-left: 6px;
}

#article2 .boxTxt{
    margin-left: 10px;
    padding-top: 20px;
}

#article2 .boxTxt .etoileBleu, #article2 .boxTxt .etoileGrise{
    margin-top: 40px;
}



@media screen and (min-width: 0px) and (max-width: 624px){

    body{
        padding: 0px;
    }

    main{
        padding: 20px;
    }

    header .line, header .lineHidden{
        display: none;
    }

    header .lineSmartphone{
        height: 2px;
        width: 187.5px;
        margin: 15px 0px 0px 0px;
    }

    header .lineSmartphoneLightGray{
        height: 2px;
        width: 187.5px;
        margin: 15px 0px 0px 0px;
        background-color: #F2F2F2;
    }

    header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    header nav{
        margin:  60px 0px 0px 0px;
        width: 100%;
    }

    header nav ul{
        width: 100%;
    }

    header nav ul li{
        margin: 0px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    header nav ul li a{
        margin: 0px;
    }

    header nav ul li a{
        margin: 0px;
    }

    header nav ul li .colBlue{
        padding-left: 38px;
    }

    header nav ul li .colBlack{
        padding-left: 60px;
    }

    #logo{
        margin: 40px 0px 0px 15px;
    }

    #sinscrire{
        position: absolute;
        top: 37px;
        right: 0px;
    }
    

    #filtres{
        position: absolute;
        top: 368px;
        left: 24px;
    }

    aside form{
        width: 100%;
        margin: 11px 0px 0px 0px;
        border-radius: 16px;
        align-items: center;
    }

    aside form #field{
        height: 51px;
        width: 565px;
    }

    aside form .button{
        border-radius: 16px;
        display: flex;
    }

    aside form .button .disappearSearch{
        display: none;
    }

    .pictoMagnifying{
        width: 20px;
    }

    aside nav{
        margin-top: 60px;
    }

    aside nav ul{
        height: 100%;
        flex-wrap: wrap;
    }

    aside nav ul li a{
        font-size: 1em;
    }

    aside nav ul li {
        margin: 0px 21px 21px 0px;
    }

    aside nav ul li a .txtButon{
        margin-right: 8px;
    }

    aside nav ul li a .round{
        margin: 0px 4px 0px 0px;
    }

    #eco{
        margin-left: -21px;
    }

    aside .boxInfo p{
        line-height: 25px;
    }

}

@media screen and (min-width: 0px) and (max-width: 1130px){
    #article1_2{
        display: flex;
        flex-direction: column-reverse;    
    }

    #article2{
        margin: 0px 0px 40px 0px;
    }

    #section2{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

@media screen and (min-width: 625px) and (max-width: 1089px){

    main{
        padding: 0;
    }

    header{
        display: flex;
        flex-direction: column;
    }

    header nav{
        margin:  60px 0px 40px 0px;
        font-size: 1.2em;
    }

    header .line, header .lineHidden{
        display: none;
    }

    header .lineTablet{
        height: 2px;
        margin: 15px 0px 0px 0px;
    }

    #logo{
        margin: 40px 0px 0px 0px;
        width: 188px;
        height: 58px;
    }

    #filtres{
        position: absolute;
        top: 370px;
    }

    aside nav{
        margin-top: 60px;
    }

    aside nav ul{
        height: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    aside nav ul li {
        margin: 0px 0px 21px 0px;
    }

    aside form .button .disappearMagnifying{
        display: none;
    }
}

@media screen and (min-width: 1090px) and (max-width: 9999999999px){

    aside form .button .disappearMagnifying{
        display: none;
    }

}